<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>

  <h1>YOYO web apps are so cool</h1>

  <p id="demo">
    HTML is bomb.com
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>
